$light-color: #f4f4f4;
$font: Arial, Helvetica, sans-serif;
$primary-color: #0e6cff;
$secondary-color: #ff8700;

// mixin to set background & text color (like a function but doesn't return anything)
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}
